@import "../../../../styles/mixin.scss";
@import "../../../../styles/variables.scss";

.news{

    .container{
        display: none;
    }

    margin-top: 60px;

    &-title{
        @include fluid-text(20, 30);
        font-weight: 600;
    }

    &__items{
        margin-top: 20px;
        display: flex;
        column-gap: 20px;

        justify-content: center;

        img{
            height: auto;
            max-width: 410px;
            width: 100%;
        }

        &-box{

            &-title{
                @include fluid-text(16, 20);
                font-weight: 600;
            }

            &-subtitle{
                @include fluid-text(16, 20);
                font-weight: 400;
                color: #c8c2c2;
            }
        }
    }
}

.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__top{
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow{
            width: 45px;
            height: 45px;
        }

        .frame{
            max-width: 340px;
            height: 500px;
            overflow: hidden;
        }

        .slider{

            width: 100vw;
            height: 100vh;
            display: flex;
            transition: .4s ease-in-out;
            
            img{
                width: 340px;
                height: auto;
            }
        }
    }

    .slide-title{
        margin-top: 10px;
        @include fluid-text(16, 20);
        font-weight: 600;
    }

    .slide-subtitle{
        @include fluid-text(16, 20);
        font-weight: 400;
        color: #c8c2c2;
    }

    .pagination-circle{
        width: 25px;
        height: 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        cursor: pointer;
    }

    .active{
        background-color: #fff;
    }

    &__bottom{
        margin-top: 10px;
        display: flex;
        column-gap: 20px;
    }
}


@media(max-width:500px){

    .news__items{
        display: none;
    }

    .container{
        display: flex !important;
    }


}

@media(max-width:420px){

    .container{

        .arrow{
            width: 35px;
            height: 35px;
        }
    
        .frame{
            max-width: 280px;
            height: 420px;
            overflow: hidden;
        }
    
        .slider{
    
            width: 100vw;
            height: 100vh;
            display: flex;
            transition: .4s ease-in-out;
            
            img{
                width: 280px;
                height: auto;
            }
        }
    }
    
}